{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<main class="container my-5">
    <section class="campeonatos-section">
        
        <!-- Card para o Título -->
        <div class="row mb-4">
            <div class="col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h1 class="section-title">Campeonatos Disponíveis</h1>
                    </div>
                </div>
            </div>
        </div>

        {% if campeonatos %}
            <div class="row">
                {% for campeonato in campeonatos %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title font-weight-bold text-primary text-center">{{ campeonato.nome }}</h2>
                            <table class="table table-bordered mt-3">
                                <tbody>
                                    <tr>
                                        <th>Data de Início</th>
                                        <td>{{ campeonato.data_inicio }}</td>
                                    </tr>
                                    <tr>
                                        <th>Data de Fim</th>
                                        <td>{{ campeonato.data_fim }}</td>
                                    </tr>
                                    <tr>
                                        <th>Descrição</th>
                                        <td>
                                            <div class="description" style="max-height: 100px; overflow-y: auto;">
                                                {{ campeonato.descricao }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Premiação</th>
                                        <td>R$ {{ campeonato.premiação }}</td>
                                    </tr>
                                    <tr>
                                        <th>Participantes</th>
                                        <td>
                                            <ul class="list-group list-group-flush">
                                                {% for participante in campeonato.participantes.all %}
                                                    <li class="list-group-item">{{ participante.nome }} ({{ participante.equipe }}) - {{ participante.email }}</li>
                                                {% empty %}
                                                    <li class="list-group-item">Nenhum Participante inscrito.</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- Botão Inscrever-se -->
                            <div class="text-center mt-3">
                                <a href="" class="btn btn-primary">Inscrever-se</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center no-campeonatos">Nenhum campeonato disponível no momento.</p>
        {% endif %}
    </section>
</main>
{% endblock %}
