{% extends "base.html" %}

{% block title %}Confirmar Classificação{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Confirmação de Classificação</h2>
    {% if jogos_sem_resultado %}
        <p class="text-center">Nem todos os jogos possuem resultados.</p>
        <p class="text-center">Deseja continuar com a geração da classificação mesmo assim?</p>
    {% else %}
        <p class="text-center">Todos os jogos possuem resultados. Deseja prosseguir?</p>
    {% endif %}

    <div class="text-center mt-4">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="confirmar" class="btn btn-success">Confirmar</button>
            <button type="submit" name="cancelar" class="btn btn-danger">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}