{% extends "base.html" %}

{% block title %}Registrar Resultados{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Registrar Resultados para {{ campeonato.nome }}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rodada</th>
                        <th>Time Casa</th>
                        <th>Gols Time Casa</th>
                        <th>Time Fora</th>
                        <th>Gols Time Fora</th>
                        <th>Data/Horário</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jogo in jogos %}
                    <tr>
                        <td>Rodada {{ jogo.rodada.numero }}</td>
                        <td>{{ jogo.time_casa.equipe_participante }}</td>
                        <td>
                            <input type="number" class="form-control" name="gols_time_casa_{{ jogo.id }}" value="{{ jogo.resultado_jogo.gols_time_casa|default_if_none:0 }}" required>
                        </td>
                        <td>{{ jogo.time_fora.equipe_participante }}</td>
                        <td>
                            <input type="number" class="form-control" name="gols_time_fora_{{ jogo.id }}" value="{{ jogo.resultado_jogo.gols_time_fora|default_if_none:0 }}" required>
                        </td>
                        <td>{{ jogo.data_horario|date:"d/m/Y H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Salvar Resultados</button>
        </div>
    </form>
</div>
{% endblock %}
